@model IEnumerable<Hotel_Reservation_Manager.Models.Reservations>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GuestId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllInclusive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BreakfastIncluded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivealDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GuestId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllInclusive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BreakfastIncluded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArrivealDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IsActive }) |
            @Html.ActionLink("Details", "Details", new { id=item.IsActive }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IsActive })
        </td>
    </tr>
}

</table>
